



.hero-left {
  height: 700px;
  width: 50%;
  padding: 60px 50px;
  background: linear-gradient(135deg, #3a001fdd, #12000adc);
  color: white; 
}

.hero {
    position: relative;
    min-height: 85vh;
    align-items: center;
    background-size: cover;
}

.hero-left {
   justify-content: center;
}

.hero-left h1 {
  font-size: 55px;
  font-weight: 900;
  margin-bottom: 20px;
  text-shadow: 0 2px 0 rgba(0,0,0,0.4);
}

.hero-left p {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 30px;
  color: #e0e0e0;
}

.btn {
  display: inline-block;
  padding: 18px 50px;
  border-radius: 30px;
  border: 2px solid #d195ff;
  color: #d195ff;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s ease;
}

.btn:hover {
  background: #d195ff;
  color: #2a0020;
}


.hero-right {
  width: 50%;
  position: relative;
  background-color: black;
  overflow: hidden;
  
}

.dots {
  display: flex;
  gap: 20px;
  
}

.dots span {
  width: 10px;
  height: 10px;
  background: white;
  opacity: 0.8;
}


.reflection {
  margin-top: 40px;
  transform: scaleY(-1);
  opacity: 0.2;
}

.reflection span {
  background: #777;
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {

  background: white;
}

/* Section globale */
.console-section {
  width: 100%;
  padding: 40px 60px 60px;
  
}

/* Conteneur principal */
.console-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Image */
.console-image {
  width: 45%;
}

.console-image img {
  width: 100%;
  max-width: 550px;
}

/* Contenu texte */
.console-content {
    text-align: end;
  width: 50%;
}

.console-content h2 {
  font-size: 46px;
  font-weight: 900;
  color: #2b0014;
  margin-bottom: 20px;
}

.console-content h3 {
  font-size: 34px;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 2px #2b0014;
  margin: 20px 0;
}

.console-content p {
  font-size: 18px;
  color: #2b0014;
  line-height: 1.6;
  margin: 10px 0 30px;
}

/* Bouton */
.info-btn {
  display: inline-block;
  background: #d9b3ff;
  color: white;
  padding: 12px 35px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

/* Texte bas */
.preorder {
  text-align: center;
  margin-top: 60px;
}

.preorder a {
  font-size: 42px;
  font-weight: 900;
  color: #e53935;
  text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Structure générale */
footer {
    display: flex;
    background: #2f4450;
    color: white;
   
}




.footer-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Partie droite */
.footer-right {
    width: 75%;
    padding: 40px 50px 25px;
    position: relative;
}

/* Colonnes */
.footer-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
    margin-bottom: 20px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
}



.footer-column a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

/* Icônes réseaux sociaux */
.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-icons .icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

/* Ligne rouge */
.footer-line {
    width: 100%;
    height: 3px;
    background: #c43a47;
    margin: 60px 0 20px;
}

/* Texte copyright */
.footer-copy {
    font-size: 14px;
    text-align: center;
    opacity: 0.9;
}





